In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pande\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pande\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pande\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pande\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pande\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pande\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\pande\anaconda3\lib\site-packages (2.1.3)

In [18]:
import pandas as pd
import numpy as np

In [19]:
lst = [1,2,3,4,5]

In [20]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [21]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [23]:
pd.DataFrame([lst,lst,lst], columns = ['A','B','C','D','E'])

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [25]:
df = pd.DataFrame([lst,lst,lst], columns = ['A','B','C','D','E'])

In [26]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5